# --- Python 通用 ---
__pycache__/
*.py[cod]
*$py.class

# --- 虚拟环境 (千万别提交这个) ---
venv/
.venv/
env/

# --- 环境变量 & 安全 (绝对不能提交！！！) ---
.env
.env.prod
.env.test
.env.*

# --- IDE 配置 (每个人习惯不同，别提交) ---
.idea/
.vscode/
*.swp

# --- 你的项目特定目录 ---
logs/           # 自动生成的日志不要提交
*.log
celerybeat-schedule
db.sqlite3      # 如果用 SQLite，别提交数据库文件
coverage.xml    # 测试覆盖率报告
htmlcov/